#quote-box{
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 40%;
  background-color: aliceblue;
  border-radius: 4px;
}

#content {
  padding: 2rem;
}

#text, #author {
  animation: textIn 1s ease-in 1;
}

#text{
  padding-left: 1rem;
  text-align: center;
}

#quote-mark{
  width: 3rem;
  height: 3rem;
  margin-top: -1.5rem;
  margin-left: -1rem;
  margin-right: .5rem;
}

#author{
  position: absolute;
  bottom: 5rem;
  right: 3rem;
  font-size: 1.5rem;
}

@keyframes textIn {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
}

#new-quote {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  background-color: #ADA2FF;
  padding: .6rem;
  border: none;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  transition: all 1s ease-in-out 0ms;
  border-radius: 4px;
}

#tweet-quote-btn{
  background-color: #ADA2FF;
  width: 3rem;
  height: 3rem;
  border: none;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  border-radius: 3px;
  padding: 0.4rem;
  transition: all 1s ease-in-out 0ms;
}

#tweet-quote-svg{
  font-size: 1rem;
}

@media (max-width:1600px) {
  #quote-box{
    height: 50%;
  }
}

@media (max-width:1200px) {
  #quote-box{
    height: 70%;
  }
}

@media (max-width:600px) {
  #quote-box{
    width: 80%;
    top: 10%;
    left: 10%;
  }
}

@media (max-width:800px) {
  #new-quote{
    font-size: 1.3rem;
  }
  #author{
    font-size: 1.1rem;
  }
  #text{
    font-size: 1.5rem;
  }
}

@media (max-width:400px) {
  #text{
    font-size: 1.1rem;
  }
  #author{
    font-size: 1rem;
  }
  #new-quote{
    font-size: .9rem;
  }
  #quote-mark{
    width: 2rem;
    height: 2rem;
    margin-top: -1.5rem;
    margin-left: -2.5rem;
    margin-right: .5rem;
  }
  #tweet-quote-btn{
    width: 2rem;
    height: 2rem;
  }
}